<header class="app-header">
    <div>
        <div style="display: flex; padding: 1rem; width:auto;">
            <a href="">
                <img ngSrc="assets/logo.png" width="150" height="75" style="filter: invert(1);" priority>
            </a>
        </div>
        <ul class="ul-control nav-horizontal">
            <li>
                <a class="nav-link" href="">
                    Inicio
                </a>
            </li>
            <li>
                <a class="nav-link" href="">
                    Sobre
                </a>
            </li>
        </ul>
    </div>
</header>