<app-header></app-header>
<main>
    <div class="main-section">
        <div class="d-flex flex-columns">
            <img src="assets/logo header.svg" alt="Logo escrito Crazy Cyber com tematica Neon" height="150">
            <img src="assets/logo header 2.svg" alt="Logo escrito Friday Night com tematica Degradê" height="100">
            <span class="fs-2 text-center">
                Ofertas loucas toda sexta-feira à noite: descontos incríveis e promoções exclusivas!
            </span>
        </div>
        <img class="rounded-full img-main" src="assets/laptop.jpg" alt="Cachorrinho filho da puta no notebook" width="400" height="400" style="object-fit: cover; object-position: 100%;">
    </div>
</main>