*{
    font-family: "Prompt", sans-serif;
    color: #ffffff;
}
html{
    background-image: url('assets/background.svg');
    background-color: #04001c;
    background-size: cover;
}
body{
    margin: 0;
}
header{
    width: 100vw;
    background-color: #ffffff12;
    div{
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    display: flex;
    justify-content: center;
}
.ul-control{
    list-style-type: none;
    padding: 0;
}
.nav-horizontal{
    display: flex;
    li{
        margin-inline: 0.5rem;
    }
}
.nav-link{
    text-decoration: none;
    color: #CE504B;
    font-weight: 400;
    font-size: 1.5rem;
}
.rounded-4{
    border-radius: 4rem;
}
.rounded-full{
    border-radius: 100%;
}
.fs-1{
    font-size: 2rem;
}
.fs-2{
    font-size: 1.5rem;
}
.fs-3{
    font-size: 1rem;
}
.d-flex{
    display: flex;
}
.flex-columns{
    flex-direction: column;
}
.main-section{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-primary{
    font-size: 4rem;
}
.text-center{
    text-align: center;
}
.img-main{
    filter: drop-shadow(5px 10px 4px #CE504B) drop-shadow(-5px -10px 4px #3190FF);
    padding: 1rem;
    padding-left: 3rem;
}

@media (orientation: portrait) {
    header{
        div{
            width: 100vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }
        display: flex;
        justify-content: center;
    }
    .main-section{
        flex-direction: column;
        div{
            img{
                max-width: 80vw;
            }
        }
    }
}